h1 {color:#8A0829;font-family:impact;text-align:center;letter-spacing:.25em}
p{font-family:bookman;text-align:center;color:#000000}
div, h3{font-family:impact;color:#1748a0;font-size:20px;text-align:center}
table, tr, td {border:1px solid black; font-family:bookman}
ul {font-family:bookman;text-align:center}
body {background-color:#6E6E6E}
hr {color:#39c130}